**Write a Program to Display the Multiplication Table of a Given Number:
Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table**

In [4]:
num = int(input("Enter your number : "))
for i in range(1,11):
    print(i*num)

Enter your number :  2

2
4
6
8
10
12
14
16
18
20

**Write a Program to Calculate the Sum of the First N Natural Numbers:
Create a Python program that asks the user to enter a positive integer, N, and then calculates and prints the sum of the first N natural numbers. Use a while loop to accomplish this.**

In [5]:
num=int(input("Enter a number: "))
suum=0
i=0
while i<=num:
    suum=suum+i
    i=i+1
print(f"sum of the number is: {suum}")

Enter a number:  2

sum of the number is: 3

In [11]:
sent = "the quick brown fox jumps over lazy dog"
sen_set =set(sent)
print(sen)
for each in sen_set:
    print(each)

{'w', 'v', 'c', 'l', 'j', 'm', 'e', 'd', 'o', 'f', 'p', 'x', 'b', ' ', 'i', 'u', 's', 'g', 'h', 't', 'a', 'k', 'y', 'n', 'z', 'r', 'q'}
w
v
c
l
j
m
e
d
o
f
p
x
b

i
u
s
g
h
t
a
k
y
n
z
r
q

**WAP to print number form 1 - 100**

In [12]:
i = 1 
while i <=100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

**WAP to print number form 100-1**

In [13]:
i = 100
while i >=1:
    print(i)
    i -=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

**WAp to print multiplictaion of n**

In [ ]:
z = 1
while i <= 10:
    print(i)
    i += 1

In [ ]:
print(i)