In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib as mpl
import sklearn

In [2]:
data_path = "https://www.statlearning.com/s/Advertising.csv"
data_df = pd.read_csv(data_path,index_col=0)
data_df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [3]:
data_df.shape

(200, 4)

In [4]:
X = data_df.drop('sales', axis = 1).to_numpy()
X = np.concat((np.ones((200,1)), X), axis = 1)
Y = data_df['sales'].to_numpy().reshape(-1,1)

In [5]:
n, d = X.shape

### Random Initialization

In [13]:
def initializer(d):
    np.random.seed(99)
    betas= np.random.randn(d,1)
    return betas
print(initializer(4))

[[-0.14235884]
 [ 2.05722174]
 [ 0.28326194]
 [ 1.32981198]]

### Cost Function

In [17]:
def calc_loss(betas):
    cost = 0.5 * np.sum(np.square(np.dot(X, betas) - Y))
    return cost
calc_loss(betas)

NameError: name 'betas' is not defined